[Unit]
Description=deis-riemann

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/riemann` && \
                         docker history $IMAGE >/dev/null 2>&1 || docker pull $IMAGE"
ExecStartPre=/bin/sh -c "docker inspect deis-riemann >/dev/null 2>&1 && \
                         docker rm -f deis-riemann || true"
ExecStart=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/riemann` && \
                        docker run --name deis-riemann  -p 5555:5555/tcp -p 5556:5556/udp --rm -e HOST=$COREOS_PRIVATE_IPV4 $IMAGE"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
